GPAの4値分類

In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [32]:
df=pd.read_csv('../data/Classification-of-students.csv')

カテゴリカルデータtrain_cum.csv validation_num.csvの作成

In [33]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [34]:
df['GradeClass']=df['GradeClass'].astype(int)
df['StudyTimeWeekly']=df['StudyTimeWeekly'].astype(int)
df=df.drop('StudentID',axis=1)
df=df.drop('Age',axis=1)
df=df.drop('Absences',axis=1)
df=df.drop('ParentalSupport',axis=1)
df=df.drop('Extracurricular',axis=1)
df=df.drop('Volunteering',axis=1)
df=df.drop('GradeClass',axis=1)

In [35]:
df.loc[df['GPA']<1,'target']=0
df.loc[(df['GPA']>=1)&(df['GPA']<2),'target']=1
df.loc[(df['GPA']>=2)&(df['GPA']<3),'target']=2
df.loc[(df['GPA']>=3)&(df['GPA']<=4),'target']=3

In [36]:
df['target']=df['target'].astype(int)
df=df.drop('GPA',axis=1)

In [37]:
df.head()

,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Tutoring,Sports,Music,target
0,1,0,2,19,1,0,1,2
1,0,0,1,15,0,0,0,3
2,0,2,3,4,0,0,0,0
3,1,0,3,10,0,0,0,2
4,1,0,2,4,1,0,0,1

In [38]:
df.shape

(2392, 8)

In [39]:
df['target'].value_counts()

target
1    806
2    797
0    468
3    321
Name: count, dtype: int64

特徴量エンジニアリング

In [40]:
target0_df=df[df['target']==0]
target1_df=df[df['target']==1]
target2_df=df[df['target']==2]
target3_df=df[df['target']==3]

In [41]:
target1_df=target1_df.sample(frac=0.5,random_state=42).reset_index(drop=True)
target2_df=target2_df.sample(frac=0.5,random_state=42).reset_index(drop=True)

In [42]:
new_df=pd.concat([target0_df,target1_df,target2_df,target3_df]).reset_index(drop=True)
new_df=new_df.sample(frac=1,random_state=42).reset_index(drop=True)

In [43]:
new_df['target'].value_counts()

target
0    468
1    403
2    398
3    321
Name: count, dtype: int64

In [44]:
train_num,validation_num=new_df[:int(len(new_df)*0.8)],new_df[int(len(new_df)*0.8):].reset_index(drop=True)

In [45]:
train_num['target'].value_counts()

target
0    384
1    326
2    318
3    244
Name: count, dtype: int64

In [46]:
train_num.head()

,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Tutoring,Sports,Music,target
0,1,2,3,0,0,1,1,2
1,0,0,2,1,0,0,0,0
2,1,1,2,2,1,0,0,3
3,0,0,2,17,0,0,1,0
4,1,0,3,12,0,0,1,1

In [47]:
validation_num.head()

,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Tutoring,Sports,Music,target
0,0,0,2,19,1,0,0,3
1,1,2,0,9,0,0,0,2
2,0,0,1,18,1,0,0,3
3,1,3,3,11,1,0,0,2
4,1,0,1,13,0,0,0,3

In [48]:
train_num.to_csv('../data/4class_classification_data/train_num.csv',index=False)
validation_num.to_csv('../data/4class_classification_data/validation_num.csv',index=False)

カテゴリカルデータからテキストデータに変換

In [49]:
Gender_mapping={0:'男性は',1:'女性は'}
Ethnicity_mapping={0: '白人で、',1: '黒人で、',2:'アジア人で、',3: '他の人種で、'}
ParentalEducation_mapping={0: '親は中学卒業で、',1: '親は高校卒業で、',2: '親は短期大学もしくは専門学校卒業で、',3: '親は大学卒業で、',4: '親は大学院卒業で、'}
Tutoring_mapping={0:'本人は塾には通っておらず、',1:'本人は塾に通っていて、'}
Sports_mapping={0:'スポーツはしていなくて、',1:'スポーツをしていて、'}
Music_mapping={0:'音楽には無関心だ。',1:'音楽に精通している。'}

In [50]:
new_df['Gender']=new_df['Gender'].map(Gender_mapping)
new_df['Ethnicity']=new_df['Ethnicity'].map(Ethnicity_mapping)
new_df['ParentalEducation']=new_df['ParentalEducation'].map(ParentalEducation_mapping)
new_df['Tutoring']=new_df['Tutoring'].map(Tutoring_mapping)
new_df['Sports']=new_df['Sports'].map(Sports_mapping)
new_df['Music']=new_df['Music'].map(Music_mapping)

In [51]:
text_data = new_df.apply(lambda row: f"{row['Gender']}{row['Ethnicity']}"+"1週間の勉強時間は"+f"{row['StudyTimeWeekly']}"+"時間で、"+f"{row['ParentalEducation']}{row['Tutoring']}{row['Sports']}{row['Music']}", axis=1)

In [52]:
text_df = pd.DataFrame({'label':new_df['target'],'sentence': text_data})

In [53]:
train,validation=text_df[:int(len(text_data)*0.8)],text_df[int(len(text_data)*0.8):].reset_index(drop=True)

In [54]:
train.head()

   label                                           sentence
0      2  女性はアジア人で、1週間の勉強時間は0時間で、親は大学卒業で、本人は塾には通っておらず、スポ...
1      0  男性は白人で、1週間の勉強時間は1時間で、親は短期大学もしくは専門学校卒業で、本人は塾には通...
2      3  女性は黒人で、1週間の勉強時間は2時間で、親は短期大学もしくは専門学校卒業で、本人は塾に通っ...
3      0  男性は白人で、1週間の勉強時間は17時間で、親は短期大学もしくは専門学校卒業で、本人は塾には...
4      1  女性は白人で、1週間の勉強時間は12時間で、親は大学卒業で、本人は塾には通っておらず、スポー...

In [55]:
validation.head()

   label                                           sentence
0      3  男性は白人で、1週間の勉強時間は19時間で、親は短期大学もしくは専門学校卒業で、本人は塾に通...
1      2  女性はアジア人で、1週間の勉強時間は9時間で、親は中学卒業で、本人は塾には通っておらず、スポ...
2      3  男性は白人で、1週間の勉強時間は18時間で、親は高校卒業で、本人は塾に通っていて、スポーツは...
3      2  女性は他の人種で、1週間の勉強時間は11時間で、親は大学卒業で、本人は塾に通っていて、スポー...
4      3  女性は白人で、1週間の勉強時間は13時間で、親は高校卒業で、本人は塾には通っておらず、スポー...

In [56]:
train.to_csv('../data/4class_classification_data/train.csv',index=False,encoding='utf-8-sig')
validation.to_csv('../data/4class_classification_data/validation.csv',index=False,encoding='utf-8-sig')