In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [20]:
df=pd.read_csv('../data/Classification-of-students.csv')

カテゴリカルデータtrain_cum.csv validation_num.csvの作成

In [21]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [22]:
df['GradeClass']=df['GradeClass'].astype(int)
df=df.drop('StudentID',axis=1)
df=df.drop('GPA',axis=1)
df=df.drop('StudyTimeWeekly',axis=1)
df=df.drop('Age',axis=1)
df=df.drop('Absences',axis=1)

In [23]:
df=df.rename(columns={'GradeClass':'target'})

In [24]:
df.head()

,Gender,Ethnicity,ParentalEducation,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,target
0,1,0,2,1,2,0,0,1,0,2
1,0,0,1,0,1,0,0,0,0,1
2,0,2,3,0,2,0,0,0,0,4
3,1,0,3,0,3,1,0,0,0,3
4,1,0,2,1,3,0,0,0,0,4

In [25]:
df.shape

(2392, 10)

In [26]:
df['target'].value_counts()

target
4    1211
3     414
2     391
1     269
0     107
Name: count, dtype: int64

特徴量エンジニアリング

In [27]:
except_target4_df=df[df['target']!=4]
target4_df=df[df['target']==4]

In [28]:
new_target4_df=target4_df.sample(frac=0.35,random_state=42)

In [29]:
new_df=pd.concat([except_target4_df,new_target4_df]).reset_index(drop=True)

In [41]:
new_df['target'].value_counts()

target
4    424
3    414
2    391
1    269
0    107
Name: count, dtype: int64

In [31]:
train_num,validation_num=new_df[:int(len(new_df)*0.8)],new_df[int(len(new_df)*0.8):].reset_index(drop=True)

In [32]:
train_num.head()

,Gender,Ethnicity,ParentalEducation,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,target
0,1,0,2,1,2,0,0,1,0,2
1,0,0,1,0,1,0,0,0,0,1
2,1,0,3,0,3,1,0,0,0,3
3,0,0,1,0,1,1,0,0,0,1
4,0,1,1,0,3,0,1,0,0,2

In [33]:
validation_num.head()

Empty DataFrame
Columns: [Gender, Ethnicity, ParentalEducation, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, target]
Index: []

In [34]:
train_num.to_csv('train_num.csv',index=False)
validation_num.to_csv('valid_num.csv',index=False)

カテゴリカルデータからテキストデータに変換

In [35]:
Gender_mapping={0:'男の子で',1:'女の子で'}
Ethnicity_mapping={0: '白人で、',1: '黒人で、',2:'アジア人で、',3: '他の人種で、'}
ParentalEducation_mapping={0: '親は中学卒業で、',1: '親は高校卒業で、',2: '親は短期大学もしくは専門学校卒業で、',3: '親は大学卒業で、',4: '親は大学院卒業で、'}
Tutoring_mapping={0:'本人は個別指導経験ありで、',1:'本人は個別指導経験なしで、'}
ParentalSupport_mapping={0: '親からのサポートは全く、',1: '親からのサポートを少し受けていて、',2: '親からのサポートは普通で、',3:'親からのサポートは大きく、',4: '親からのサポートは非常に大きく、'}
Extracurricular_mapping={0:'課外授業は受けていなくて、',1:'課外授業を受けていて、'}
Sports_mapping={0:'スポーツはしていなくて、',1:'スポーツをしていて、'}
Music_mapping={0:'音楽はしてなくて、',1:'音楽をしていて、'}
Volunteering_mapping={0:'ボランティア活動はしていない。',1:'ボランティア活動をしている。'}

In [36]:
df['Gender']=df['Gender'].map(Gender_mapping)
df['Ethnicity']=df['Ethnicity'].map(Ethnicity_mapping)
df['ParentalEducation']=df['ParentalEducation'].map(ParentalEducation_mapping)
df['Tutoring']=df['Tutoring'].map(Tutoring_mapping)
df['ParentalSupport']=df['ParentalSupport'].map(ParentalSupport_mapping)
df['Extracurricular']=df['Extracurricular'].map(Extracurricular_mapping)
df['Sports']=df['Sports'].map(Sports_mapping)
df['Music']=df['Music'].map(Music_mapping)
df['Volunteering']=df['Volunteering'].map(Volunteering_mapping)

In [37]:
text_data = df.apply(lambda row: f"{row['Gender']}{row['Gender']}{row['Gender']}{row['Ethnicity']}{row['ParentalEducation']}{row['Tutoring']}{row['ParentalSupport']}{row['Extracurricular']}{row['Sports']}{row['Music']}{row['Volunteering']}", axis=1)

In [38]:
text_df = pd.DataFrame({'label':df['target'],'sentence': text_data})

In [39]:
train,validation=text_df[:int(2392*0.8)],text_df[int(2392*0.8):].reset_index(drop=True)

In [40]:
train.to_csv('train.csv',index=False)
validation.to_csv('valid.csv',index=False)