In [97]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [98]:
df=pd.read_csv('../data/Classification-of-students.csv')

カテゴリカルデータtrain_cum.csv validation_num.csvの作成

In [99]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [100]:
df['GradeClass']=df['GradeClass'].astype(int)
df=df.drop('StudentID',axis=1)
df=df.drop('GPA',axis=1)
df=df.drop('StudyTimeWeekly',axis=1)
df=df.drop('Age',axis=1)
df=df.drop('Absences',axis=1)

In [101]:
df=df.rename(columns={'GradeClass':'target'})

In [102]:
df.head()

,Gender,Ethnicity,ParentalEducation,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,target
0,1,0,2,1,2,0,0,1,0,2
1,0,0,1,0,1,0,0,0,0,1
2,0,2,3,0,2,0,0,0,0,4
3,1,0,3,0,3,1,0,0,0,3
4,1,0,2,1,3,0,0,0,0,4

In [103]:
df.shape

(2392, 10)

In [104]:
df['target'].value_counts()

target
4    1211
3     414
2     391
1     269
0     107
Name: count, dtype: int64

特徴量エンジニアリング

In [105]:
except_target4_df=df[df['target']!=4]
target4_df=df[df['target']==4]

In [106]:
new_target4_df=target4_df.sample(frac=0.35,random_state=42).reset_index(drop=True)

In [107]:
new_df=pd.concat([except_target4_df,new_target4_df]).reset_index(drop=True)
new_df=new_df.sample(frac=1,random_state=42).reset_index(drop=True)

In [108]:
new_df['target'].value_counts()

target
4    424
3    414
2    391
1    269
0    107
Name: count, dtype: int64

In [109]:
train_num,validation_num=new_df[:int(len(new_df)*0.8)],new_df[int(len(new_df)*0.8):].reset_index(drop=True)

In [110]:
train_num['target'].value_counts()

target
3    337
4    327
2    319
1    211
0     90
Name: count, dtype: int64

In [111]:
train_num.head()

,Gender,Ethnicity,ParentalEducation,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,target
0,0,0,1,0,3,0,0,0,0,3
1,0,0,3,0,2,0,0,0,0,3
2,1,3,2,0,4,1,0,1,0,2
3,1,1,1,0,2,1,0,0,1,2
4,0,1,2,0,1,1,1,0,0,3

In [112]:
validation_num.head()

,Gender,Ethnicity,ParentalEducation,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,target
0,1,2,2,0,1,1,0,1,0,2
1,1,1,2,0,2,0,0,1,1,4
2,1,1,2,0,1,1,1,0,0,2
3,1,0,3,0,2,0,0,1,0,4
4,0,3,2,1,1,1,0,0,0,1

In [113]:
train_num.to_csv('../data/train_num.csv',index=False)
validation_num.to_csv('../data/validation_num.csv',index=False)

カテゴリカルデータからテキストデータに変換

In [114]:
Gender_mapping={0:'男性は',1:'女性は'}
Ethnicity_mapping={0: '白人で、',1: '黒人で、',2:'アジア人で、',3: '他の人種で、'}
ParentalEducation_mapping={0: '親は中学卒業で、',1: '親は高校卒業で、',2: '親は短期大学もしくは専門学校卒業で、',3: '親は大学卒業で、',4: '親は大学院卒業で、'}
Tutoring_mapping={0:'本人は個別指導経験ありで、',1:'本人は個別指導経験なしで、'}
ParentalSupport_mapping={0: '親の援助は全くなく、',1: '親の援助を少し受けていて、',2: '親の援助は普通で、',3:'親の援助は大きく、',4: '親の援助は非常に大きく、'}
Extracurricular_mapping={0:'塾には通っておらず、',1:'塾に通っていて、'}
Sports_mapping={0:'スポーツはしていなくて、',1:'スポーツをしていて、'}
Music_mapping={0:'音楽には無関心で、',1:'音楽に精通していて、'}
Volunteering_mapping={0:'ボランティア活動はしていない。',1:'ボランティア活動をしている。'}

In [115]:
new_df['Gender']=new_df['Gender'].map(Gender_mapping)
new_df['Ethnicity']=new_df['Ethnicity'].map(Ethnicity_mapping)
new_df['ParentalEducation']=new_df['ParentalEducation'].map(ParentalEducation_mapping)
new_df['Tutoring']=new_df['Tutoring'].map(Tutoring_mapping)
new_df['ParentalSupport']=new_df['ParentalSupport'].map(ParentalSupport_mapping)
new_df['Extracurricular']=new_df['Extracurricular'].map(Extracurricular_mapping)
new_df['Sports']=new_df['Sports'].map(Sports_mapping)
new_df['Music']=new_df['Music'].map(Music_mapping)
new_df['Volunteering']=new_df['Volunteering'].map(Volunteering_mapping)

In [116]:
text_data = new_df.apply(lambda row: f"{row['Gender']}{row['Ethnicity']}{row['ParentalEducation']}{row['Tutoring']}{row['ParentalSupport']}{row['Extracurricular']}{row['Sports']}{row['Music']}{row['Volunteering']}", axis=1)

In [117]:
text_df = pd.DataFrame({'label':new_df['target'],'sentence': text_data})

In [118]:
train,validation=text_df[:int(len(text_data)*0.8)],text_df[int(len(text_data)*0.8):].reset_index(drop=True)

In [119]:
train.head()

   label                                           sentence
0      3  男の子で男の子で男の子で白人で、親は高校卒業で、本人は個別指導経験ありで、親からのサポートは...
1      3  男の子で男の子で男の子で白人で、親は大学卒業で、本人は個別指導経験ありで、親からのサポートは...
2      2  女の子で女の子で女の子で他の人種で、親は短期大学もしくは専門学校卒業で、本人は個別指導経験あ...
3      2  女の子で女の子で女の子で黒人で、親は高校卒業で、本人は個別指導経験ありで、親からのサポートは...
4      3  男の子で男の子で男の子で黒人で、親は短期大学もしくは専門学校卒業で、本人は個別指導経験ありで...

In [120]:
validation.head()

   label                                           sentence
0      2  女の子で女の子で女の子でアジア人で、親は短期大学もしくは専門学校卒業で、本人は個別指導経験あ...
1      4  女の子で女の子で女の子で黒人で、親は短期大学もしくは専門学校卒業で、本人は個別指導経験ありで...
2      2  女の子で女の子で女の子で黒人で、親は短期大学もしくは専門学校卒業で、本人は個別指導経験ありで...
3      4  女の子で女の子で女の子で白人で、親は大学卒業で、本人は個別指導経験ありで、親からのサポートは...
4      1  男の子で男の子で男の子で他の人種で、親は短期大学もしくは専門学校卒業で、本人は個別指導経験な...

In [121]:
train.to_csv('../data/train.csv',index=False)
validation.to_csv('../data/validation.csv',index=False)